<div id="extension-bluetoothpairing-content">
  
    <div id="extension-bluetoothpairing-content-container">
        <h3 id="extension-bluetoothpairing-title">Bluetooth pairing</h3>

        <div id="extension-bluetoothpairing-scanning-container">
            <div id="extension-bluetoothpairing-scanning-centered">
                <h2 style="text-align:center">Scanning for Bluetooth devices</h2>
    			<!--<div class="extension-bluetoothpairing-spinner">
    				<div></div><div></div><div></div><div></div>
    			</div>
                -->
                <div id="extension-bluetoothpairing-progress-bar-container">
                    <div id="extension-bluetoothpairing-progress-bar"></div>
                </div>
            </div>
        </div>

        <div id="extension-bluetoothpairing-lists">
            <h4 class="extension-bluetoothpairing-list-title">Paired</h4>
            <div id="extension-bluetoothpairing-list-paired" class="extension-bluetoothpairing-list"></div>
        
            <div id="extension-bluetoothpairing-list-discovered" class="extension-bluetoothpairing-list"></div>
            
            <div id="extension-bluetoothpairing-list-trackers" class="extension-bluetoothpairing-list"></div>
        
            <div id="extension-bluetoothpairing-original-item" class="extension-bluetoothpairing-item">
            
    			<div class="extension-bluetoothpairing-item-setter">
                    <div class="extension-bluetoothpairing-item-main">
                        <div class="extension-bluetoothpairing-item-left">
                            <div class="extension-bluetoothpairing-item-icon-container"></div>
                            <div class="extension-bluetoothpairing-item-rssi-container"></div>
                        </div>
        				<div class="extension-bluetoothpairing-item-identity">
        					<h2 class="extension-bluetoothpairing-name"></h2>
                            <span class="extension-bluetoothpairing-manufacturer"></span>
        					<span class="extension-bluetoothpairing-address"></span>
        				</div>
                    </div>
                        
                    <div class="extension-bluetoothpairing-item-known-explanation">
                        <p>Warning, this Bluetooth tracker has been detected for at least 15 minutes. It was first detected <span class="extension-bluetoothpairing-item-first-seen">...</span></p>
                    </div>
                    <div class="extension-bluetoothpairing-item-dangerous-explanation">
                        <p>Warning, this Airtag has been detected for at least 15 minutes, and it reports that it is 'lost' (it has not been near its owner for at least 15 minutes).  It was first detected <span class="extension-bluetoothpairing-item-first-seen">...</span></p>
                    </div>
                        
                        
                        
    				<div class="extension-bluetoothpairing-item-info"></div>
    				<!--
    				<div class="extension-bluetoothpairing-item-setter-buttons">
    					<button class="extension-bluetoothpairing-item-setter-info-button">info</button>
    					<button class="extension-bluetoothpairing-item-setter-pair-button">pair</button>
    					<button class="extension-bluetoothpairing-item-setter-unpair-button">unpair</button>
    				</div>
    				-->
                </div>
            
                <div class="extension-bluetoothpairing-item-menu">
                    <div class="extension-bluetoothpairing-item-left">
                        <form class="rule-switch switch">
                            <input type="checkbox" id="extension-bluetoothpairing-toggle-checkbox" class="switch-checkbox extension-bluetoothpairing-enabled">
                            <label class="switch-slider" for="extension-bluetoothpairing-toggle-label">
                            </label>
                        </form>
                    </div>
				
                    <div class="extension-bluetoothpairing-item-right">

                        <div class="extension-bluetoothpairing-item-pair-button">
    						<svg class="extension-bluetoothpairing-item-pair-button-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="white">
    						<path d="M13.757 19.868c-0.416 0-0.832-0.159-1.149-0.476-2.973-2.973-2.973-7.81 0-10.783l6-6c1.44-1.44 3.355-2.233 5.392-2.233s3.951 0.793 5.392 2.233c2.973 2.973 2.973 7.81 0 10.783l-2.743 2.743c-0.635 0.635-1.663 0.635-2.298 0s-0.635-1.663 0-2.298l2.743-2.743c1.706-1.706 1.706-4.481 0-6.187-0.826-0.826-1.925-1.281-3.094-1.281s-2.267 0.455-3.094 1.281l-6 6c-1.706 1.706-1.706 4.481 0 6.187 0.635 0.635 0.635 1.663 0 2.298-0.317 0.317-0.733 0.476-1.149 0.476z"></path>
    						<path d="M8 31.625c-2.037 0-3.952-0.793-5.392-2.233-2.973-2.973-2.973-7.81 0-10.783l2.743-2.743c0.635-0.635 1.664-0.635 2.298 0s0.635 1.663 0 2.298l-2.743 2.743c-1.706 1.706-1.706 4.481 0 6.187 0.826 0.826 1.925 1.281 3.094 1.281s2.267-0.455 3.094-1.281l6-6c1.706-1.706 1.706-4.481 0-6.187-0.635-0.635-0.635-1.663 0-2.298s1.663-0.635 2.298 0c2.973 2.973 2.973 7.81 0 10.783l-6 6c-1.44 1.44-3.355 2.233-5.392 2.233z"></path>
    						</svg>
    					</div>
                    </div>
                </div>
        
    			<!--
                <div class="rule-edit-overlay delete">
                    <div class="rule-delete-dialog">
                        <p>Are you sure you want to remove this highlight permanently?</p>
                        <input class="rule-delete-cancel-button" type="button" data-l10n-id="rule-delete-cancel-button" value="Cancel">
                        <input class="rule-delete-confirm-button" type="button" value="Remove">
                    </div>
                </div>
    			-->
            
            </div>
            
            
            <button id="extension-bluetoothpairing-add-button" class="icon-button" aria-label="Add"></button>
        </div>


        <br/>
        <br/>
        
        <div id="extension-bluetoothpairing-warning" style="display:none">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode by going to <span style="font-style:italic">Settings</span>, then <span style="font-style:italic">Addons</span>, and then clicking on the <span style="font-style:italic">Settings</span> button for the <span style="font-style:italic">Bluetooth pairing</span> addon. There you can uncheck the debugging option and click <span style="font-style:italic">Apply</span>.
        </div>

        <div id="extension-bluetoothpairing-response">
            <p id="extension-bluetoothpairing-response-data"></p>
        </div>
        <br/>

        

    </div>
    
    
    
</div>





